OCEAN_API_KEY="xyz...."
PROSPEO_API_KEY="xyz...."
EAZYREACH_CLIENT_ID="xyz...."
EAZYREACH_CLIENT_SECRET="xyz...."
BREVO_API_KEY="xyz...."
SENDER_EMAIL="someone@company.com"
SENDER_NAME="Your Name from Your Company"